.abc{
    background-color: rgb(116, 231, 193);
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 25px;
}

#abc{
    background-color: rgb(120, 139, 248);
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 25px;
}